* {
  box-sizing: content-box;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
}

#app{
  background-color: black;
}

body {
  color: rgb(78, 159, 61);
  font-family: 'Source Code Pro', monospace;
}

h2{
  padding: 2rem 0;
}

ul{
  padding: 0;
}

#main {
  background-image: '../resources/images/dark-canvas.png';
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#principal {
  background-color: rgb(25, 26, 25);
  border-radius: 20px !important;
  margin: 1rem auto 0;
  padding: 1rem;
  width: 90vw;
  border: 1px solid rgb(78, 159, 61);
  min-height: 70vh;
}

#bodyStructure{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
}

.left-arrow, .right-arrow{
  margin: auto;
  font-size: 2.5rem;
}

.left-arrow button, .right-arrow button{
  width: 50px;
  height: 50px;
  background-color: rgb(25, 26, 25);
  color: rgb(78, 159, 61);
  border: none;
  font-size: 3rem;
  margin: auto;
}

.carrousel{
  margin: 0 auto;
}

.carrousel button{
  padding: 2px 16px !important;
  margin: 0.5rem !important;
  background-color: rgb(78, 159, 61) !important;
  border-radius: 20px;
}