* {
  box-sizing: content-box;
  font-size: 16px;
}

body {
  background-color: black;
  color: rgb(78, 159, 61);
  background-size: cover;
  font-family: 'Source Code Pro', monospace;
}

#main {
  text-align: center;
}

header {
  background-color: rgb(25, 26, 25);
  padding: 1rem;
  width: 90vw;
  margin: 1rem auto;
  border-radius: 20px
}

header button{
  width: 150px;
  margin: 0 1rem;
  color: rgb(216, 233, 168) !important;
  border-radius: 20px !important;
}

#principal {
  background-color: rgb(25, 26, 25);
  border-radius: 20px !important;
  margin: 2rem auto;
  padding: 1rem;
  width: 90vw;
  min-height: 70vh;
}

.left-arrow, .right-arrow{
  margin: auto;
  font-size: 2.5rem;
}

.carrousel button{
  padding: 2px 16px !important;
  margin: 0.5rem !important;
  background-color: rgb(78, 159, 61) !important;
}

#photo{
  width: 300px;
  height:400px;
  margin: auto 0;
  padding: 0;
}
/*Aplicamos la propiedad object-fit cover, ajustar su tamaño y no perder la proporcion de nuestra imagen*/
#photo img{
  object-fit: cover;
  width:100%;
  height:100%;
}